main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #b28dfd;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #304cc7;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--darker);
  color: var(--light);
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  color: var(--light);
  font-weight: bold;
  font-size: 2.25rem;
  padding: 20px 10px;
  background-color: var(--dark);
}

h2 {
  font-size: 2rem;
  padding-left: 20px;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

nav {
  background-color: var(--dark);
}

p {
  font-size: 1.1rem;
  margin: 10px 50px;
  box-shadow: 4px 4px var(--light);
  background-color: var(--primary);
  padding: 15px;
}

section {
  background-image: url('assets/cover/space.jpg');
  flex-wrap: wrap;
}

div.proficiencies {
  background-color: none;
}

a:hover {
  text-decoration: none;
  background-color: var(--primary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--light);
  color:white;
}

h1.flex-row.px-1 {
  margin: 0px;
  text-shadow: 1px 1px var(--primary), 
  2px 2px var(--primary), 
  3px 3px var(--primary);
}

ul {
  background-color: var(--dark);
  margin: 0px;
  padding: 10px 20px;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
  margin: 20px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--darker);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
  border-radius: 3px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.flex-row {
  display: flex;
  /* flex-wrap: wrap; */
}

.container {
  width: 85%;
  max-width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

img.my-2 {
  padding-left: 100px;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}



button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

h3 {
  color: var(--light);
  font-size: 1.75rem;
  background-color: var(--dark);
  border-radius: 5px;
}

.navActive {
  color: var(--secondary);
}

/*Portfolio style*/
.work-title {
  margin: 0px 0px 0px 70px;
  align-self: stretch;
}

.my-work h2 {
  padding: 20px 25px 50px 0px;
  margin: 0px 20px 0px auto;
}

.rb-content, .wd-content {
  background-image: url(assets/images/what-i-had-for-dinner.JPG);
  padding: 200px 100px 100px 0px;
  background-size: cover;
  display: flex;
  background-position: bottom;
  border: 3px solid var(--primary-color);
  position: relative;
  margin: 10px 0px 50px 0px;
}

.wd-content {
  background-image: url(assets/images/whats-for-dinner.JPG);
}

.led-content, .calc-content, .pzl-content, .surf-content {
  flex: 15;
}

.led-content {
  background-image: url(assets/images/coding-quiz.JPG);
  padding: 100px 100px 100px 0px;
  background-size: cover;
  display: flex;
  background-position: bottom;
  border: 3px solid var(--primary-color);
  position: relative;
  margin: 10px 20px 50px 0px;
}

.calc-content {
  background-image: url(assets/images/readinglist.JPG);
  padding: 100px 100px 100px 0px;
  background-size: cover;
  display: flex;
  background-position: bottom;
  border: 3px solid var(--primary-color);
  position: relative;
  margin: 10px 0px;
}

.pzl-content {
  background-image: url(assets/images/scheduler.JPG);
  padding: 100px 100px 100px 0px;
  background-size: cover;
  display: flex;
  background-position: bottom;
  border: 3px solid var(--primary-color);
  position: relative;
  margin: 10px 20px 50px 0px;
}

.surf-content {
  background-image: url(assets/images/run-buddy.jpg);
  padding: 100px 100px 100px 0px;
  background-size: cover;
  display: flex;
  background-position: bottom;
  border: 3px solid var(--primary-color);
  position: relative;
  margin: 10px 0px;
}

.rb-content div {
  background-color: var(--primary-color);
  padding: 10px;
  position: absolute;
  margin: 1% 80% 0% 0%;
}

.led-content div, .calc-content div, .pzl-content div, .surf-content div {
  background-color: var(--primary-color);
  padding: 10px;
  position: absolute;
  margin: 1% 80% 0% -0.25%;
}

.rb-content div h3 a, .led-content div h3 a, .calc-content div h3 a, .pzl-content div h3 a, .surf-content div h3 a {
  color: var(--tertiary-color);
}

.rb-content a:link, .led-content a:link, .calc-content a:link, .pzl-content a:link, .surf-content a:link {
  text-decoration: none;
}

.rb-content p, .led-content p, .calc-content p, .pzl-content p, .surf-content p {
  font-size: x-small;
  color: var(--tertiary-color);
  background-color: none;
}